
.init {
  color: rgb(82, 82, 168);
}
.sec {
  color: rgba(118, 118, 233, 0.984);
}
.title{
    margin: 20px;
}
.title3{
    margin:20px;
}
.para{
    margin-top: 20px;
    color: rgba(1, 0, 2, 0.862);
}