.container{
    position: relative;
    top: 100px;
    text-align: center;
    font-family: "Edu SA Beginner", cursive;
    padding: 10px;
    min-height: calc(100vh);
    background-color: azure;
  
  }